<!DOCTYPE html>
<html>
    <head>
        <title>
            Projects | Devops | LAPO MFB
        </title>
        <link rel="icon" type="image/x-icon" href="/images/Business Planner/downloadnn.png">
        <link rel="stylesheet" type="text/css" href="/stylesheets/BusinessPlanner.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Material+Icons">
        <meta name="viewport" content="width: device-width, initial-scale:1.0">
    </head>
    <body>
        <div class="navbar">
            <br><br><a class="navbara" href="/businessplanner/home">DASHBOARD</a><br>
            <a class="selected" id="projbar">PROJECTS</a>
            <a class="navbara" href="/businessplanner/home/submittingtasks/selectproj">SUBMIT ACTIVITY</a>
            <!-- <a class="navbara" href="/businessplanner/home/viewreport">VIEW REPORT</a><br>
            <a class="navbara" href="/businessplanner/home/bin">BIN</a> -->
        </div>
        <!-- <header class="header">
            <img src="/images/Business Planner/lapo_logo_plain.png" style="width: 10vw; margin: 6px 15px">
            <div class="sign-out-box">
                <a onclick="toggleSignOutDropdown()"><img src="/images/Business Planner/icons8-expand-arrow-96.png" style="width: 1vw; float: right; padding: 1vw 0; margin-right: 0.5vw"><img src="/images/Business Planner/icons8-user-64.png" style="width: 3vw; float: right; margin: 2.3px 0"></a>
                <div class="dropdown-content2" style="top: 3.35vw; width: 7vw" id="signOutDropdown">
                    <a style="padding: 0.5vw 1vw" onclick="logout()">Sign Out</a>
                </div>
            </div>
        </header> -->
        <div class="bodyhead">
            <div style="color: black; padding: 0.5vw"><a href="/businessplanner/home">home</a> / <a href="/businessplanner/home/projects">projects</a> / <div style="display: inline-block; color: #efefef">ADDMILESTONE</div></div>
        </div>
        <div class="body">
            <a href="/businessplanner/home/projects/view" class="back-arrow"><img src="/images/Business Planner/icons8-back-arrow-90.png"></a>
           <br>
            <div class="report">
                <a class="bg-green-700 p-2 rounded-md text-white" href="/businessplanner/home/addPMO">
                    Add new PMO
                </a>
                <p class="mt-[20px] text-[24px] font-semibold">
                    Active PMO's
                </p>
                <div class="flex flex-col gap-4">
                    <%for(var i=0; i<data.length; i++){%>
                        <div>
                            <div class="flex flex-row bg-green-700 text-white w-[70%] rounded-md justify-between p-2">
                                <p><%=data[i].name%></p>
                                <p><%=data[i].jobRole%></p>
                                <a href="/businessplanner/pmo/manage_pmo/<%=data[i].id%>"><i style="color: white; font-size: 30px;" class="material-icons">edit</i></a>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
            <div class="footer">
                <p style="color: #366345; font-weight: bold">LAPO Mfb</p><p>@ 2023 DevOps.</p>
                <p style="color: #366345; font-weight: bold; float: right"> LAPO Mfb</p><p style="float: right">Powered by </p>
            </div>
        </div>
        <%if(message.error){%>
            <div class="message-popup" id="popup" style="top: 25vw; left: 56vw">
                <div class="popupheader">An error occured processing your request</div>
                <div class="popupcontent">
                    <p>
                        <%=message.error %>
                    </p>
                    <button class="popupbtn" onclick="donTSave()">CANCEL</button>
                </div>
            </div>
        <%}%>
        <%if(message.confirmation){%>
            <div class="message-popup" id="popup" style="top: 25vw; left: 56vw">
                <div class="popupheader">An error occured processing your request</div>
                <div class="popupcontent">
                    <p>
                        <%=message.confirmation %>
                    </p>
                    <button class="popupbtn" onclick="donTSave()">CANCEL</button>
                </div>
            </div>
        <%}%>
        <%if(message.status){%>
            <div class="message-popup" id="popup" style="top: 25vw; left: 56vw">
                <div class="popupheader">An error occured processing your request</div>
                <div class="popupcontent">
                    <p>
                        <%=message.status %>
                    </p>
                    <button class="popupbtn" onclick="donTSave()">CANCEL</button>
                </div>
            </div>
        <%}%>

        <div class="popup" id="logoutBox">
            <div class="popupheader">DO YOU WANT TO SIGN OUT?</div>
            <div class="popupcontent" style="height: 6vw">Are you sure you want to sign out? You will be taken back to the login page.
                    <br><br><a class="popupbtn" href="/businessplanner/logout">SIGN OUT</a><a class="popupbtn" onclick="logoutCancel()">CANCEL</a>
            </div>
        </div>
    </body>
    
    <script src="/javascripts/BusinessPlanner.js"></script>
    <script>
        const d = new Date();
        let day = d.getDate();
        if(day<10) day = "0" + day;
        let month = d.getMonth() + 1;
        if(month<10) month = "0" + month;
        let year = d.getFullYear();
        const date0 = year + "-" + month + "-" + day;
        const fieldsets = document.getElementsByTagName("fieldset");
        for(var i=0; i<fieldsets.length; i++) {
            fieldsets[i].getElementsByTagName("input")[1].setAttribute("min", date0);
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
          const searchInput = document.getElementById('searchInput');
          const searchResults = document.getElementById('searchResults');
      
          searchInput.addEventListener('input', function () {
            // Clear the previous search results
            searchResults.innerHTML = '';
      
            const query = searchInput.value;
      
            if (query.length > 2) {
              // Make an AJAX request to your Express API
              fetch(`/businessplanner/home/searchPMO?query=${query}`) // Replace with your actual API endpoint
                .then(response => response.json())
                .then(data => {
                    // console.log(data)
                  // Process the data and update the view
                  searchResults.innerHTML = ''; // Clear previous results

                    if (data.length > 0) {
                    data.forEach(result => {
                        const cardHTML = `<button>
                            <div class="card bg-green-600 w-[100%] h-auto rounded-md text-white mt-[20px]">
                            <div class="bg-green-900 rounded-t-md p-2 truncate ...">
                                <p code=${result.ItemCode} id="name">${result.ItemName}</p>
                            </div>
                            <div class="flex flex-row gap-2 p-2 justify-between">
                                <p id="bu" class="truncate ...">${result.Bu}</p>
                                <p id="job" class="truncate ...">${result.Item_Title_Desc}</p>
                            </div>
                        </div>
                            </button>`
                        searchResults.innerHTML += cardHTML;
                    });
                    } else {
                    searchResults.innerHTML = '<p>No results found.</p>';
                    }
                })
                .catch(error => {
                  console.error('Error:', error);
                });
            }
          });
        });
      </script>
      <!-- <script>
        const parentDiv = document.getElementById('searchResults');
        const outputDiv = document.getElementById('output');
      
        parentDiv.addEventListener('click', function (event) {
          // Initialize an array to store innerHTML of child elements
          const childHTML = [];
      
          // Traverse and collect innerHTML of child elements
          for (let i = 0; i < event.target.children.length; i++) {
            const child = event.target.children[i];
            childHTML.push(child.innerHTML);
          }
          console.log(childHTML)
          // Display collected HTML content in the output div
        //   outputDiv.innerHTML = childHTML.join('<br>');
        });
      </script> -->
      <script>
        const cardContainer = document.getElementById('searchResults'); // Change this to the specific container
        const outputDiv = document.getElementById('output');
        // const element = document.getElementById('name'); // Get the element by its ID
        // const codeValue = element.getAttribute('code');
      
        cardContainer.addEventListener('click', function (event) {
          const clickedCard = event.target.closest('.card'); // Find the closest card element
          const element = document.getElementById('name'); // Get the element by its ID
            const codeValue = element.getAttribute('code');
          if (clickedCard) {
            const childElements = Array.from(clickedCard.children);
            const childText = childElements.map((element) => element.textContent.trim());

            // console.log(childText)
            // console.log(childText[0])
            // console.log(childText[1].split("\n"))
            var innerform = `  <form method="post" action="/businessplanner/home/addPMO" class="bg-green-600 w-[100%] h-auto rounded-md text-white">
                                <div class="bg-green-900 rounded-t-md p-2">
                                    <p id="name">Name: ${childText[0]}</p>
                                    <input name="name" value=${childText[0]} hidden>
                                </div>
                                <input name="userId" value=${codeValue} hidden>
                                <div class="p-2">
                                    <h2 class="text-[18px] font-semibold text-white">User permissions</h2>
                                    <div class="flex flex-row gap-10">
                                        <div class="flex flex-col gap-[10px] mt-[20px] text-[18px]">
                                            <div>
                                                Create Projects: <input type="checkbox" style="border: none; width: 20px; height: 20px; margin-left: 20px;" class="bg-green-900 border-none " name="createProj" readonly>
                                            </div>
                                            <div>
                                                Delete Projects: <input type="checkbox" style="border: none; width: 20px; height: 20px; margin-left: 20px;" class="bg-green-900 border-none " name="deleteProj" readonly>
                                            </div>
                                            <div>
                                                Edit Projects: <input type="checkbox" style="border: none; width: 20px; height: 20px; margin-left: 20px;" class="bg-green-900 border-none " name="editProj" readonly>
                                            </div>
                                        </div>
                                    <div class="ml-auto">
                                        <button style="background-color: white;" class="bg-white rounded-md p-2 text-black" type="submit">
                                            Create PMO
                                        </button>
                                    </div>
                                    </div>
                                </div>
                                <div class="flex flex-row gap-2 p-2 justify-between">
                                    <p id="bu" class="truncate ...">Business unit: <input style="border: none;" class="bg-green-600 border-none" name="bu" value=${childText[1].split("\\")[0]} readonly></p>
                                    <p id="job" class="truncate ...">Job role: <input style="border: none;" class="bg-green-600 border-none" name="jobRole" value=${childText[1].split("\n")[1]} readonly></p>
                                </div>
                            </form>`
            // Display the collected HTML content in the output div
            outputDiv.innerHTML += innerform;
          }
        });
      </script>
      
      
      
</html>